<p>
  {{artista.name}}
</p>
<div class="container top30">
  <div class="row">
    <div class="col-md-3">
    <img [src]="artista.images | sinfoto " alt="" class="img-thumbnail img-circular">
    </div>
    <div class="col-md-9">
      <h1>{{artista.name}}</h1>
      <hr>

      <a [href]="artista.external_urls?.spotify" target="_blank" name="button" class="btn btn-outline-success">Abris Spotify</a>
      <button [routerLink]="['/search']" type="button" name="button" class="btn btn-outline-danger">Regresar</button>
    </div>
  </div>

  <div class="row top30">
    <div class="col-md-12">
      <table class="table table-striped table-dark">
        <thead>
          <td>#</td>
          <td>foto</td>
          <td>nombre</td>
          <td>popularidad</td>
          <td>escuchar</td>
        </thead>
        <tbody>
          <tr *ngFor="let pista of pistas; let i=index">
            <td>{{i + 1}}</td>
            <td>
              <img [src]="pista.album.images | sinfoto" class="img-50" alt="">
            </td>
            <td>{{pista.name}}</td>
            <td>{{pista.popularity}} %</td>
            <td>
              <audio controls>
                <source [src]="pista.preview_url">
                  tu navegador es muy viejo
                </audio>
              </td>
            </tr>

        </tbody>

      </table>

    </div>

  </div>

</div>
