<div class="container top30">
  <div class="row">
    <div class="col-md-3">
      <label for="termino">Buscar artista</label>
      <input type="text" [(ngModel)]="termino" (keyup)="buscarArtista()" placeholder="busque artista..." class="form-control" name="" value="">
    </div>

    <div class="col-md-9" *ngIf="termino.length > 1">
        <h1 class="text-capitalize">{{ termino }}</h1>
        <hr>

        <!-- *ngFor="let artista of _spotify.artistas" -->
        <div class="row">
          <div *ngFor="let artista of _spotify.artistas" class="col-md-3 text-center puntero">
            <img [src]="artista.images | sinfoto" class="img-thumbnail" alt="">
            <p>{{ artista.name }}</p>

          </div>
        </div>
    </div>

  </div>
</div>
